<nav>
  <div class="logo">
    <a href="{{ url_for('index') }}"><p>SWAMP STONER</p></a>
  </div>

  <div class="nav-links">
    <ul>
      <li><a href="{{ url_for('index') }}">HOME</a></li>
      <li><a href="{{ url_for('contact') }}">TERMINAL</a></li>
      <li><a href="{{ url_for('links') }}">LINKS</a></li>
    </ul>
  </div>

  <div class="nav-menu">
    <ul>
      <li><a href="{{ url_for('index') }}">HOME</a></li>
      <li><a href="{{ url_for('contact') }}">TERMINAL</a></li>
      <li><a href="{{ url_for('links') }}">LINKS</a></li>
    </ul>
  </div>

  <div class="hamburger">
    <div class="bar bar1"></div>
    <div class="bar bar2"></div>
    <div class="bar bar3"></div>
  </div>
</nav>
